@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
*{
    font-family:'Cairo',sans-serif;
}
.controllers{
    padding:10px;
}
.timepickerInputWrapper{
    position: relative;
}
.timeSelectorWrapper{
    position: absolute;
    display:none;
    top:20px;
    left:0px;
    width:200px;
    padding:10px;
    z-index:99;
    background-color:white;
    border:0.5px solid rgb(218, 218, 218);
    -webkit-box-shadow: 0px 0px 13px 2px rgba(224,224,224,0.72);
    -moz-box-shadow: 0px 0px 13px 2px rgba(224,224,224,0.72);
    box-shadow: 0px 0px 13px 2px rgba(224,224,224,0.72);
}
.ControllerWrapper{
    text-align:center;
}
.timePickerController{
    display:block;
    cursor: pointer;
    padding:5px;
    color:white;
}
.timePickerInput{
    width:40px;
    display:block;
    text-align:center;
}
.increaseController{
    background-color:#286090;
}
.decreaseController{
    background-color:#D9534F;
}
.timeTypeOption{
    display:block;
    padding:5px;
}
.selectedOption{
    background-color:#449D44;
    border-color:#449D44;
    color:white;
}
.timePickerLabel{
    color:#333;
    font-size:10px;
}
